a {
  color: white;
  text-decoration: none; /* no underline */
}

.gifDetails {
  display: grid;
  width: 100%;
  grid-template-columns: auto max-content;
  gap: 2rem;
  color: white;
  font-weight: bold;
  color: #a6a6a6;
}

.gifInfo {
  display: grid;
  grid-template-columns: 500px auto;
  gap: 2.5rem;
  min-height: 250px;
  /* margin-bottom: 1rem; */
}

.description {
  font-size: 14px;
  margin: 0;
  height: 1.7rem;
}

.gifInfo .navigator {
  display: flex;
  justify-content: flex-end;
  gap: 0.3rem;
}

.gifInfo .navigator .previous,
.gifInfo .navigator .next {
  width: 2.2rem;
  height: 100%;
  background-color: rgb(79, 77, 77);
  color: gray;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  cursor: default;
}

.gifInfo .navigator .active {
  background-color: gray;
  color: white;
  cursor: pointer;
}

.image {
  width: 500px;
}

.gifNavigation {
  display: grid;
  grid-template-rows: 1.5rem auto 2rem;
  gap: 1rem;
}

.gifNavigation .actions,
.gifNavigation .views {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 2rem;
  align-items: center;
  gap: 1rem;
  cursor: initial;
}

.actions > div {
  display: grid;
  grid-template-columns: 3rem auto;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.gifNavigation .actions p,
.gifNavigation .views p {
  color: white;
  margin: 0;
  font-size: 17px;
}

.gifNavigation .actions span,
.gifNavigation .views span {
  grid-column: 1;
  justify-self: center;
  background: transparent;
  font-size: 30px;
}

.gifNavigation .views {
  grid-template-columns: 2rem auto;
  gap: 0.5rem 0;
}

.gifNavigation .views p {
  font-size: 14px;
  color: gray;
}

.gifNavigation .views span {
  font-size: 20px;
  cursor: default;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

.userInfo a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.userInfo div {
  height: auto;
}

.userInfo p {
  margin: 0;
  font-size: 16px;
}

.userInfo .user {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50px;
  align-content: flex-start;
  justify-content: center;
}

.user .name {
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.user .tag {
  font-size: 14px;
  cursor: pointer;
}
.user span {
  transition: color 200ms ease-in-out;
}
.user .tag span:last-child {
  position: relative;
  margin: 0 0.2rem;
  cursor: default;
}

.user .tag span:first-child:hover {
  color: white;
}

.user .photo {
  background: blueviolet;
  height: 100%;
  width: 50px;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.user .photo img {
  height: 100%;
  /* min-width: 100%; */
}

.socials .content,
.source .content {
  margin: 0.5rem 0 0 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.socials .content a,
.source .content a {
  font-size: 20px;
  cursor: pointer;
}

.source .content {
  margin-left: 0;
}

.source .content span {
  transform: rotate(90deg);
}

.source .content a {
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.socials .title,
.source .title {
  font-size: 14px;
}

.userInfo .description p {
  font-size: 14px;
  color: #a6a6a6;
  font-weight: 400;
}

.tagList {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  flex-wrap: wrap;
}

.detailTag,
.ellipsisTag {
  background-color: #2e2e2e;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.detailTag span,
.ellipsisTag span {
  color: white;
  font-size: 15px;
  font-style: italic;
}

.detailTag:hover span,
.ellipsisTag:hover span {
  color: lightseagreen;
}
