.loader {
  width: 12px;
  height: 12px;
  /* border-radius: 50%; */
  display: block;
  margin: 15px auto;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: animloader 800ms linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -12px #ff6666, -14px 0 #9933ff, 14px 0 #fff35c, 38px 0 #00ff99;
  }
  33% {
    box-shadow: -38px 0px #ff6666, -14px -12px #9933ff, 14px 0 #fff35c, 38px 0 #00ff99;
  }
  66% {
    box-shadow: -38px 0px #ff6666, -14px 0 #9933ff, 14px -12px #fff35c, 38px 0 #00ff99;
  }
  100% {
    box-shadow: -38px 0 #ff6666, -14px 0 #9933ff, 14px 0 #fff35c, 38px -12px #00ff99;
  }
}
