.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.photo-list {
  list-style: none;
  padding-inline-start: 0;
  margin: 0 auto;
  width: 100%;
}

.photo-item {
  display: flex;
  width: 350px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  margin: 0.5rem 0;
}

.photo-item img {
  display: flex;
  width: 100%;
  /* border: 4px double rgba(0, 0, 0, 0.12); */
}
