html {
  /* overflow-y: scroll; */
  padding-left: calc(100vw - 100%);
  font-family: Helvetica;
}

body {
  background-color: rgb(18, 18, 18);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1040px;
  margin: auto;
  margin-bottom: 1rem;
}

.searchResults,
.categoryResults {
  display: flex;
  flex-direction: column;
}

.searchResults .related,
.categoryResults .category {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: white;
}

.searchResults h2,
.category h2 {
  color: white;
  margin: 0;
  font-size: 36px;
  margin-top: -.8rem
}

.category h2 {
  text-transform: capitalize;
}

.searchResults span {
  margin: 0;
  color: #a6a6a6;
  font-size: 14px;
  font-weight: bold;
}

.gifContainer,
.categoryContainer {
  display: grid;
  grid-auto-rows: 10px;
  gap: 10px;
  justify-content: center;
  min-height: 100vh;
}

.carousel {
  width: 100%;
}

.carouselTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0.5rem;
  color: white;
}

.carouselTitle h3 {
  margin: 0;
  font-size: 24px;
  text-transform: capitalize;
}

.carouselContainer {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.slider > .gif {
  display: inline-block;
  cursor: pointer;
}

.slider > .gif + .gif {
  margin-left: 0.5rem;
}

.arrow {
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  width: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 200ms ease-in-out 100ms;
}

.arrow:hover {
  color: rgba(255, 255, 255, 1);
}
.arrow.left {
  left: 0;
  background: linear-gradient(-90deg, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
}
.arrow.right {
  right: 0;
  background: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
}

.arrow.left.hide {
  transform: translateX(-2rem);
}
.arrow.right.hide {
  transform: translateX(2rem);
}

.gif {
  border-radius: 0.25rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.gif > img {
  height: 100%;
  width: 100%;
}

.gif:hover > .gifActions {
  opacity: 1;
}

.gif .gifActions {
  display: flex;
  gap: 0.8rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem 0.5rem 0 0;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
  user-select: none;
}

.gifActions span {
  cursor: pointer;
  transition: transform 150ms ease-in-out;
}

.gifActions span:hover {
  transform: scale(1.2);
}

.relatedTerms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 0.5rem;
}

.navbar {
  width: 100%;
  user-select: none;
  margin-bottom: 3rem;
}

.nav-upper {
  position: relative;
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: 160px auto 165px 175px;
  grid-template-rows: 2rem;
  align-content: center;
  gap: 1rem;
  padding-top: 0.5rem;
}

.nav-upper span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  font-family: Helvetica;
}

.logo {
  display: flex;
  cursor: pointer;
}

.logo > span {
  color: white;
  font-size: 36px;
  font-weight: 900;
  margin-top: -0.2rem;
  padding-left: 2rem;
}
.categories ul {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
  list-style: none;
  padding-inline-start: 0px;
  background: linear-gradient(
      to right,
      rgb(0, 204, 255),
      rgb(230, 70, 182) 30%,
      rgb(0, 255, 153) 80%
    )
    0% 50% / 300%;
}

.categories li {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  align-items: center;
  border-right: 4px solid rgb(18, 18, 18);
}

.categories li::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  background: rgb(18, 18, 18);
  transition: opacity 350ms ease-in-out;
}

.categories li:hover::before {
  opacity: 0;
}

.categories li.hover::before {
  opacity: 0;
}

.categories span {
  text-align: center;
  width: 100%;
  z-index: 2;
}

.categories > ul > li:last-child span {
  transform: rotate(90deg) translateY(-2px);
}

.actions {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
  cursor: pointer;
}

.actions > span {
  background: #6765fa;
}

.login {
  display: grid;
  grid-template-columns: 25% auto;
  cursor: pointer;
}

.login > span:first-child {
  background: #525252;
}

.login > span {
  background: #3e3e3e;
}

.navbar form {
  height: 3rem;
  display: grid;
  grid-template-columns: auto 3rem;
}

.navbar input {
  border: none;
  padding-left: 1rem;
  outline: none;
}

.navbar button {
  border: none;
  color: white;
  background: linear-gradient(45deg, #a242ea 0%, #f46173 100%);
  cursor: pointer;
}

.gifDetails,
.gifCategories {
  display: grid;
  width: 100%;
  grid-template-columns: auto max-content;
  gap: 1rem;
  color: white;
  font-weight: bold;
  color: #a6a6a6;
}
.description {
  font-size: 14px;
  margin: 0;
  height: 1.7rem;
}

.gifDetails .gifPreview {
  width: 500px;
  margin-bottom: 1rem;
}

.message {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 255, 153);
  width: 100vw;
  height: 3rem;
  margin-top: -3rem;
  transition: margin 300ms ease-out;
}

.message.show {
  margin-top: 0rem;
}

.message p {
  margin: 0;
  font-weight: bold;
  color: rgb(18, 18, 18);
  text-align: center;
}

.categoriesDropdown {
  display: flex;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  flex-direction: column;
  width: 100%;
  top: calc(100% - 0.5rem);
  background: linear-gradient(90deg, #dd48ba, #a542ed 100%);
  z-index: 5;
  transition: opacity 500ms ease-in-out;
}

.categoriesDropdown.show {
  opacity: 1;
  pointer-events: all;
}

.categoriesDropdown .container {
  position: relative;
  margin: 1.5rem 4rem 0.5rem;
}

.categoriesDropdown .divisor {
  width: 100%;
  height: 1px;
  margin: 0.6rem 0;
  background: rgba(255, 255, 255, 0.3);
}

.categoriesDropdown h3 {
  margin: 0;
  font-size: 24px;
  color: white;
  cursor: pointer;
  display: inline-block;
  transition: opacity 150ms ease-in-out;
}

.categoriesDropdown ul {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  max-height: 15rem;
  margin: 0;
  list-style: none;
  padding-inline-start: 0px;
}
.categoriesDropdown li {
  height: 32px;
}
.categoriesDropdown span {
  display: inline-block;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
  transition: opacity 150ms ease-in-out;
}
.categoriesDropdown span:hover,
.categoriesDropdown h3:hover {
  opacity: 0.7;
}

.categoriesDropdown .footer {
  height: 3.5rem;
  background-color: black;
  opacity: 0.3;
  width: 100%;
}

.gifCategories .categoriesColumn {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 16px;
  gap: 0.5rem;
}
.categoriesColumn h5 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.gifCategories .categoriesList {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.categoriesList span {
  font-weight: 400;
  transition: color 100ms ease-in-out;
}

.categoriesList span:hover {
  color: #00ccff;
  cursor: pointer;
}

.categoriesPreview h2 {
}
