html {
  /* overflow-y: scroll; */
  padding-left: calc(100vw - 100%);
  font-family: Helvetica;
}

body {
  background-color: rgb(18, 18, 18);
}

.App {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  align-items: center;
  width: 1040px;
  margin: auto;
  margin-bottom: 5rem;
}

.searchResults,
.categoryResults {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.searchResults .related,
.categoryResults .category {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: white;
}

.searchResults h2,
.category h2 {
  color: white;
  margin: 0;
  font-size: 36px;
  margin-top: -0.8rem;
}

.category h2 {
  text-transform: capitalize;
}

.searchResults span {
  margin: 0;
  color: #a6a6a6;
  font-size: 14px;
  font-weight: bold;
}

.gifContainer,
.categoryContainer {
  display: grid;
  grid-auto-rows: 10px;
  gap: 15px;
  justify-content: center;
  min-height: 100vh;
}

.carousel {
  width: 100%;
}

.carouselTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0.5rem;
  color: white;
}

.carouselTitle h3 {
  margin: 0;
  font-size: 24px;
  text-transform: capitalize;
}

.carouselTitle span {
  margin-right: 0.5rem;
}

.carouselContainer {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.slider > .gif {
  display: inline-block;
  cursor: pointer;
}

.slider > .gif + .gif {
  margin-left: 0.5rem;
}

.arrow {
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  width: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 200ms ease-in-out 100ms;
  z-index: 5;
}

.arrow:hover {
  color: rgba(255, 255, 255, 1);
}
.arrow.left {
  left: 0;
  background: linear-gradient(-90deg, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
}
.arrow.right {
  right: 0;
  background: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
}

.arrow.left.hide {
  transform: translateX(-2rem);
}
.arrow.right.hide {
  transform: translateX(2rem);
}

.gif {
  border-radius: 0.25rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.gif > img {
  height: 100%;
  width: 100%;
  color: transparent;
}

.gif:hover > .gifHover {
  opacity: 1;
}

.gif .gifHover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  padding: 0.6rem;
}

.gif .gifHover .gifActions {
  align-self: flex-end;
  display: flex;
  gap: 0.8rem;
  pointer-events: all;
}

.gifActions span {
  cursor: pointer;
  transition: transform 150ms ease-in-out;
  font-size: 18px;
}

.gifActions span:hover {
  transform: scale(1.2);
}
.gifHover .gifUser {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  pointer-events: all;
}

.gifUser span {
  color: white;
  font-size: 16px;
}
.gifHover .gifUser .photo {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.gifHover .gifUser .photo img {
  height: 100%;
}

.gifTags p {
  margin: 0;
  width: 3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  width: 100%;
  font-size: 12px;
  font-weight: 700;
}

.relatedTerms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 0.5rem;
}

.gifCategories {
  display: grid;
  width: 100%;
  grid-template-columns: auto max-content;
  gap: 1rem;
  color: white;
  font-weight: bold;
  color: #a6a6a6;
}

.message {
  position: fixed;
  z-index: 15;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 255, 153);
  width: 100vw;
  height: 3rem;
  margin-top: -3rem;
  transition: margin 300ms ease-out;
}

.message.show {
  margin-top: 0rem;
}

.message p {
  margin: 0;
  font-weight: bold;
  color: rgb(18, 18, 18);
  text-align: center;
}

.gifCategories .categoriesColumn {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 16px;
  gap: 0.5rem;
}
.categoriesColumn h5 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.gifCategories .categoriesList {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.categoriesList span {
  font-weight: 400;
  transition: color 100ms ease-in-out;
}

.categoriesList span:hover {
  color: #00ccff;
  cursor: pointer;
}
